# https://EditorConfig.org

# top-most EditorConfig file
root = true

[**]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[{/src/aws-exports.js,/amplify/team-provider-info.json}]
insert_final_newline = false
indent_style = none
indent_size = none
tab_width = 2

[/amplify/backend/{*.json,awscloudformation/**,function/**-cloudformation-template.json}]
insert_final_newline = false
indent_style = none
indent_size = none
tab_width = 2
